<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jnj.com.sty1ightstoremanagement" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dropbox.DropBoxActivity" ></activity>
        <activity android:name=".subactivities.AllActivity" ></activity>
        <activity android:name=".subactivities.TaxBillActivity" ></activity>
        <activity android:name=".subactivities.StockActivity" ></activity>
        <activity android:name=".subactivities.OrderActivity" ></activity>
        <activity android:name=".subactivities.GraphActivity" ></activity>
        <activity android:name=".account.ChangePasswordActivity" ></activity>
        <activity android:name=".account.LoginActivity" ></activity>
        <activity android:name=".MenuActivity" ></activity>

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-41y9qa6th3mbvyi" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>